<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person</title>
</head>
<body>
    <h1>People list</h1>
    
    {%for person in people%}
        <li>{{ person.name }}</li>
    {% endfor %}

    <form action="{% url 'core_persons_new' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>