<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rotary Motion</title>
</head>
<body>
    <h1>Rotary Motion</h1>
    
    {%for rotaryMotion in rotaryMotions%}
        <li>{{ rotaryMotion }}</li>
    {% endfor %}

    <form action="{% url 'core_rotaryMotion_new' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

</body>
</html>